@{
    ViewBag.Title = "NotFound";
}

<h2>Sidan som du sökte kunde inte hittas</h2>
<p>Gå tillbaka till Places-menyn om du vill titta vidare på vädret! @Html.ActionLink("Places", "Index", "MyPlaces")</p>
