@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Nu har det blivit ett fel här!</h2>
<p>Gå tillbaka till Places-menyn om du vill titta vidare på vädret! @Html.ActionLink("Places", "Index", "MyPlaces")</p>
