@model Väderapplikation.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}




<section class="social" id="socialLoginForm">
    <h2>I det här projektet behöver du twitter för att kunna logga in</h2>
   @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}