@{
    ViewBag.Title = "Förstasidan";

    <!-- Testing Ajax-->
    <!--
    var ajaxOptions = new AjaxOptions
    {
        InsertionMode = System.Web.Mvc.Ajax.InsertionMode.InsertAfter,
        UpdateTargetId = "result"
    };
    -->
}
<!--<body onload="myFunction()">-->

<h1>
    Välkommen till väderapplikationen. 
</h1>
@if (Request.IsAuthenticated){
<p>Du är nu inloggad som @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })! Tryck på länken "places" för att komma vidare</p>
@Html.ActionLink("Places", "Index", "MyPlaces")
}
else{
<p>Du är inte inloggad. Logga in för att komma till tjänsten</p>
}




<div id="result">
    @Model
</div>









