@model Individuelltarbeteaspmvc.Models.Weather

@{
    ViewBag.Title = "GetAnotherMap";
}

<h2>GetAnotherMap</h2>

<div class="editor-label">
            @Html.LabelFor(model => model.place)
            @Html.DisplayFor(model => model.place)
</div>

<!--Det här fungerar, informationen har gått igenom -->

